html {
  background-color: black;

}

* {
  font-family: monospace;
  color: gray;
  font-size: 20px;

}
.input-row{
  display: flex;
  gap: 10px;
}
.terminal-input {

  background: transparent;
  border: none;
  border-bottom: 2px solid gray;
  color: white;
  padding: 2px 4px;
  width: 60px;
  text-align: center;
}

.terminal-input:focus,
.terminal-input:active {
  border-bottom-color: gray;
  


}

.terminal-input:-webkit-autofill,
.terminal-input:-webkit-autofill:hover,
.terminal-input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  border-bottom: 2px solid gray !important;
}


.buttons {
  border: pink double 4px;
  font-size: 14px;

  background: transparent;
}

.buttons:hover {
  background: transparent;
  color: greenyellow;
  cursor:pointer;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.chart-container {
  display: grid;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(10%, 40%));
  gap: 10px;
}


.chart-box {
  width: 100%;
  max-width: 100%;
  margin: 0 left;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(178, 76, 76);
  transition: transform 0.3s ease;
}

.chart-box:hover {
  transform: translateY(-5px);
}

.table-container {
  width: 80%;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px left;
  padding-bottom: 4px;
  display: block;
}

table {
  width: 75%;
  min-width: 400px;
  border-collapse: collapse;
}


thead th {
  padding: 10px;
  text-align: left;
  user-select: text;
  border: dotted blue 1px;
  color: red;
  font-size: 18px;
  
}

tbody td {
  padding: 10px;
  text-align: left;
  user-select: text;
  border: dotted blue 1px;

}

tbody tr:hover {
  user-select: text;
  background-color: rgba(255, 0, 0, 0.167);
}

.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 255, 0.1);
  border: dotted blue 1px;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 255, 0.6);
  border-radius: 4px;
  border: dotted blue 1px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 255, 0.9);
}

.asc::after {
  content: '▲'; /* Up arrow for ascending */
  font-size: 12px;
  position: absolute;
  right: 8px;
  background-color: transparent;
}

.desc::after {
  content: '▼'; /* Down arrow for descending */
  font-size: 12px;
  position: absolute;
  right: 8px;
  background-color: transparent;
}

.sortClass {
  background-color: red;
}
.pagination-controls {
  position: fixed; 
  display: flex;
  gap: 10px;
  bottom: 10px;    
  left: 70%;       
  transform: translateX(-50%); 
  background-color: transparent;
  
  padding: 10px; 
  z-index: 1000; 
  border-radius: 8px; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: transparent;
    opacity: 1;
    filter: invert(19%) sepia(94%) saturate(7493%) hue-rotate(356deg) brightness(90%) contrast(118%);
}


.download-link:hover {
  color: greenyellow;
}

.download-link {
  text-decoration: none;
}

.terminal {
  margin-left: 10px;
  margin-top: 40px;
  width: 80%;
}

.list-container {
  width: 80%;
}

.p {
  width: 80%;
}

span {
  color: red;
}

.tooltip-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;

}

.tooltip-text {
  position: absolute;

  bottom: 0%;

  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  padding: 4px 8px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(241, 2, 2, 0.15);
  transition: opacity 0.3s ease;
  font-size: 14px;
  color: greenyellow;
  z-index: 2000;

}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;

}

h2 {
  justify-content: center;
  align-items: center;
  color: gray;
}

p {
  font-size: 14px;
  align-items: center;
  justify-content: center;
}


.msg.success{
  color:greenyellow;
}
.msg.notification{
  color:gray;
}

.msg.error{
  color:red;
}

@media (max-width: 768px) {

  .table-wrapper {
    width: 100%;

    padding: 0 8px;
  }

  .table-container {
    width: 100%;

    padding: 0 8px;
  }

  table {
    font-size: 13px;
    min-width: 500px;
  }

  .chart-container {
    width: 80%;
    overflow-x: scroll;
  }

  .chart-box {
    width: 80% !important;
  }

  thead th,
  tbody td {
    padding: 6px;
  }
}

label{
  font-size: 16px;
  width: auto;
  
}

@media (max-width: 480px) {
  .table-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 8px;
  }

  .table-container {
    width: 100%;
    max-width: 100%;
    padding: 0 8px;
  }

  table {
    font-size: 12px;
    min-width: 400px;
  }

  .chart-container {
    overflow-x: auto;
  }

  thead th,
  tbody td {
    padding: 4px;
  }
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-overlay {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.disabled-content {
  pointer-events: none;
  opacity: .5;
  filter: blur(5px);
}

.loading-throbber {
  text-align: center;
  color: white;
}